body{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:black;
  overflow: hidden;
}

header{
    padding: 15px;
    background: #011627;
}

.header-content {
    display: flex;
    align-items: center;
}

header svg {
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.sidenav {
    width: 150px;
    background: #011627;
    position: fixed;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all 1.5s;
    height: 100%;
}

.sidenav.active {
    left: 0;
}

.logo {
    width: 80px;
    margin-top: 20px;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover, 
ul li a.active {
    background: #172b4d;
}

p {
    display: inline;
    margin-left: 10px;
}

text{
    position: relative;
    left: 100px;
}

.main{
        height:90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
}

