.inicio-container {
    position: absolute;
    margin: 0 10px 0 220px;
    top: 70px;
    width: 1129px;
    height: 90%;
    padding-left: 8px;
    resize: vertical;
    overflow-y: auto;

    h1 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 20px;
    }
}