.usuario-container {
    gap: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    
    

    



   
    h1 {
        width: 100%;
        color: #ffffff;
        overflow: hidden;
        font-weight: 600;
        font-size: 1.15rem;
        white-space: nowrap;
        line-height: 1.75rem;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }

  
    .titulo-pacientes {
        color: #ffffff;
        
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

    
    
    .title {
        width: 100%;
        gap: .5rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .title b {
        max-width: calc(100% - 2rem);
        font-size: 1.25rem;
        color: #ffffff;
        overflow: hidden;
        line-height: 2rem;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .title svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.usuario-container form {
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: visible;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.usuario-container form div.container-form {
    gap: 1rem;
    width: 100%;
    display: flex;
    padding: .5rem;
    flex-wrap: wrap;
    align-items: center;
    border-radius: .5rem;
    flex-direction: row;
    justify-content: start;
    background-color: white;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.usuario-container form .input {
    gap: .5rem;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.usuario-container form .input p strong {
    width: 100%;
    overflow: hidden;
    font-size: .875rem;
    white-space: nowrap;
    line-height: 1.25rem;
    color: var(--gray-950);
    text-overflow: ellipsis;
}

.usuario-container form .input .relative {
    width: 100%;
    height: auto;
    position: relative;
}

.usuario-container form .input input, .usuario-container form .input select {
    width: 100%;
    outline: none;
    color: #111827;
    font-size: .875rem;
    padding: .5rem 1rem;
    line-height: 1.25rem;
    border-radius: .25rem;
    padding-inline-start: 2.5rem;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.usuario-container form .input .relative svg {
    top: 0;
    left: 0;
    width: 1.4rem;
    height: 3rem; /* aqui hay un problema*/
    color: #9ca3af;
    position: absolute;
    margin: .375rem .5rem;
}

.button-blue-rounded {
    opacity: .9;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .65rem 1rem;
    border-radius: .25rem;
    background-color: #1d4ed8;
    border: 0px solid transparent;
    transition: all ease-in-out .2s;
}

.button-blue-rounded:hover {
    opacity: 1;
    background-color: #1e40af;
}

.usuario-container form .button-blue-rounded {
    width: 10rem;
}

@media (min-width: 768px) {
    .usuario-container form .input {
        width: calc(50% - .5rem);
    }
}

@media (min-width: 1024px) {
    .usuario-container form .input {
        width: calc(33% - .5rem);
    }
}

.lista-pacientes {
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.paciente-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: .5rem;
}

.paciente-section::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgba(59, 130, 246, 0.8),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -6rem;
    top: -6rem;
}

.paciente-encabezado {
    width: calc(100% - 130px + 6rem);
    display: flex;
    gap: .5rem;
    align-items: center;
    overflow: hidden;
}

.paciente-titulo {
    font-size: 1.5em;
    font-weight: 600;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paciente-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.paciente-descripcion {
    font-size: 0.9em;
    z-index: 2;
}

.paciente-boton {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 11px 20px;
    background-color: #3b82f6;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
}  

.paciente-boton:hover {
    background-color: #2563eb;
    transition-duration: .2s;
}

.paciente-logotipo {
    width: 2rem;
    height: 2rem;
    color: #0f46a5;
    margin-right: 1rem;
}

.paciente-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.paciente-info h2 {
    font-size: 0.8rem;
    color: #111827;
    margin-bottom: 0.25rem;
}

.paciente-info p {
    font-size: 0.875rem;
    color: #6b7280;
}

/* Estilos para el botón de añadir paciente */
.nuevo-paciente {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.nuevo-paciente a {
    font-size: 2rem;
    color: #1d4ed8;

}

.nuevo-paciente, .nuevo-paciente-excel {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .nuevo-paciente a, .nuevo-paciente-excel a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;  /* 48px */
    height: 5rem; /* 48px */
    border-radius: 70%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nuevo-paciente a {
    background-color: #3b82f6; /* azul */
  }
  
  .nuevo-paciente-excel a {
    background-color: #22c55e; /* verde */
  }
  
  .nuevo-paciente a:hover, .nuevo-paciente-excel a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  .nuevo-paciente a svg, .nuevo-paciente-excel a svg {
    color: white;
    font-size: 1.5rem; /* 24px */
  }
  
  .nuevo-paciente a:hover {
    background-color: #2563eb; /* azul más oscuro */
  }
  
  .nuevo-paciente-excel a:hover {
    background-color: #16a34a; /* verde más oscuro */
  }