.usuario-container {
 position: absolute;
 margin: 0 10px 0 220px;
 top: 70px;
 width: 1129px;
 height: 90%;
 padding-left: 8px;
 resize: vertical;
 overflow-y: auto;

 h1 {
     font-size: 30px;
     text-align: center;
 }

 p {
     font-size: 20px;
 }

 h2 {
     font-size: 40px;
 }

 b {
     font-size: 25px;
 }

 p {
     display: block;
     font-size: 15px;
 }

 .input {
  display: flex;
 }

 input {
  margin-top: 13px;
  margin-left: 10px;
  height: 15px;
 }

 .separation {
     display: flex;
     justify-content: space-between;
 }

 .border {
     border: 2px solid #011627;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
 }

}
